.side-menu {
  width:200px;
  float:left;
}

.side-box {
  border: 2px solid #D9D8CB;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display:block;
  width:200px;
  margin: 0;
  padding: 8px;
  clear:both;
  margin-top: 14px;
}

.main-side-box {
  border-color:#A09F91;
  padding: 18px 0;
  margin-top:0;
}

.side-box a {
  display:block;
}

.directory-logo{
  display: block;
  width: 164px;
  height: 30px;
  background: url(../images/return-to-btn.png);
  text-indent: -999px;
  margin:0 auto;
}

.directory-logo>span{
  display: block;
  height: 100%;
}

.search-box {
  padding: 8px;
}

.search-box>input,
.search-box>select {
  margin-bottom:8px;
}

.browse-header {
  padding-left: 15px;
  color: #A09F91;
  margin-bottom: 10px;
}
.menu-browse.nav-pills>li{
  margin:0;
}

.menu-browse.nav-pills>li>a {
  border-radius: 0;
  color:black;
  font-weight:bold;
  padding: 4px 15px;
}

.menu-browse.nav-pills>li.active>a {
  background-color: #A09F91;
  color:white;
}

.content {
  padding: 0 10px;
  margin-left: 200px;
  overflow:auto;
}

.sorting-buttons {

}

.sorting-buttons button {
  background-color: #40B527;
  border: none;
  font-weight:bold;
  font-size:9pt;
  padding-top: 7px;
  padding-bottom:7px;
}

.sorting-buttons button.active {
  background-color: #40B527;
  color:white;
  box-shadow: none;
}

.maturity-filter{
  float:right;
  color: #A09F91;
  background: #EFEEE9;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 9pt;
  padding: 5px;
  padding-left:10px;
}

.maturity-filter>span {
  padding-right:10px;
}


.maturity-filter button {
  background-color: white;
  border: none;
  font-weight:bold;
  font-size:9pt;
  padding-top: 3px;
  padding-bottom: 3px;

}

.maturity-filter button.active {
  background-color: #00B4F0;
  color:white;
  box-shadow: none;
}

.btn-group>.btn.last-active {
border-radius: 0 4px 4px 0 !important;
}

.listing {
  border: 2px solid #D9D8CB;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin-top:10px;
  overflow:auto;
  padding:0;
}

.listing>.row {
  padding:5px;
}

.listing-header {
  border-bottom: 2px solid #D9D8CB;
  font-weight:bold;
  color:#A09F91;
}

.listing-footer {
  border-top: 2px solid #D9D8CB;
  font-weight:bold;
  color:#A09F91;
  padding: 3px;
}

.listing-header button,
.listing-footer button {
  padding: 3px 6px;
  font-weight:bold;
  margin:0;
}

.listing-header button.active,
.listing-footer button.active {
  background-color:#D9D8CB;
  box-shadow:none;
  border-radius:4px;
  color:black;
}

.listing button:disabled {
  color:#A09F91;
}

.addon-row {
  border-top: 2px solid #D9D8CB;
}

.addon-first-column {
  border-right: 2px solid #D9D8CB;
}

.addon {
  padding-top:10px;
}

.addon-section {
  padding-left: 12px;
  padding-right: 12px;
}
.addon-summary {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #D9D8CB;
  font-size:8pt;
  padding-top:10px;
  padding-bottom: 6px;
}

.addon-summary-section {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
  width:25%;
}

.addon-summary-section.version,
.addon-summary-section.stars {
  width:30%;
}

.addon-summary-section.downloads {
  width:15%;
}

.addon-category button {
  padding: 0;
  color: #13B2F6;
  border:none;
}

.addon-description {
  padding: 12px 12px;
  height:5em;
  overflow: hidden;
}

.filled-star {
  color:orange;
}

.addon-header {
  font-weight: bold;
  font-size: 14pt;
  color:black;
  font-family: "Helvetica Neue",sans-serif;
  padding:0 12px;
}

.result-count {
  padding: 4px;
  float:right;
}

.listing-header button.btn-next, .listing-footer button.btn-next {
  margin-right: 20px;
}
